.random_tab{
    
}
.random_tab .title{
    display: inline-block;
    font-size: 25px;
    color: #f54865;
    margin-top: 30px;
    margin-left: 30px;
}
.random_tab .fa-refresh{
    display: inline-block;
    cursor:pointer;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    color:#f7f5f5;
}
.random_tab .artists{
    display: block;
    padding-left: 30px;
}
.random_tab .artists .title{
    margin-left: 40px;
    font-size: 15px;
    color: #f54865;
    margin-top: 15px;
    margin-bottom: 15px;
}
.random_tab .artists .results{
    display: block;
}
.random_tab .artists .results .artist{
    width: 14%;
    padding-top: 14%;
    position: relative;
    display: inline-block;
    background-color: #0c0c0c;
    margin: 40px;
    cursor: pointer;
}
.random_tab .artists .results .artist:hover{
    background-color: #1c1c1d;
}
.random_tab .artists .results .artist .name{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}
.random_tab .artists .results .artist .placeholder{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 60px;
    left: 50%;
    color: #1c1c1d;
    top: 50%;
}
.random_tab .albums{
    padding-left: 30px;
}
.random_tab .albums .title{
    margin-left: 40px;
    font-size: 15px;
    color: #f54865;
    margin-top: 15px;
    margin-bottom: 15px;
}
.random_tab .albums .results{
    display: block;
}
.random_tab .albums .results .cover_wrapper{
    cursor:pointer;
    display: inline-block;
    width: 14%;
    vertical-align: top;
    padding: 40px;

}
.random_tab .albums .results .cover_wrapper:hover{
    background-color: #1c1c1d;
}
.random_tab .albums .results .cover_wrapper .cover{
    width: 100%;
}
.random_tab .albums .results .cover_wrapper .name{
    height: 35px;
}
@media (max-width: 800px) {
    .random_tab .albums .results {
        text-align: center;
    }
    .random_tab .artists{
        padding-left: 0px;
    }
    .random_tab .artists .results {
        text-align: center;
    }
    .random_tab .artists .title {
        text-align: center;
        display: block;
        margin-left: 0px;
        font-size: 1.5em;
    }
    .random_tab .artists .results .artist {
        margin: 1%;
        width: 20%;
        padding-top: 20%;
    }
    .random_tab .artists .results .artist .placeholder {
        font-size: 34px;
    }
    .random_tab .albums{
        padding-left: 0px;
    }
    .random_tab .albums .title {
        text-align: center;
        display: block;
        margin-left: 0px;
        font-size: 1.5em;
    }
    .random_tab .albums .results .cover_wrapper {
        width: 20%;
        padding: 1%;
    }
}