.artist_tab{
    
    }
.artist_tab .banner{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: #0c0c0c;
}
.artist_tab .banner .details_container{
}
.artist_tab .banner .details_container .name{
    color:#f54865;
    font-size: 40px;
    display: inline-block;
}
.artist_tab .banner .details_container .extra{
    font-size:14px;
    color:#4e4d4d;
    margin-left: 10px;
    display: inline-block;
}
.artist_tab .banner .details_container .play{
    margin-top: 25px;
    display: block;
}
.artist_tab .sub_banner{
    padding: 10px;
    padding-left: 30px;
}
.artist_tab .albums{
}
.artist_tab .albums .album{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}
.artist_tab .albums .album .cover_container{
    order:1;
    display: inline-table;
    width: 15%;
    padding-top: 15%;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
}
.artist_tab .albums .album .cover_container .cover{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.artist_tab .albums .album .details{
    order:2;
    flex-grow: 3;
}
.artist_tab .albums .album .details .title{
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
}
.artist_tab .albums .album .details .tracks{
    display: block;
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.artist_tab .albums .album .details .tracks .track .play_track {
    display: inline-block;
    margin-right: 10px;
    margin-left: 30px;
}
.artist_tab .albums .album .details .tracks .track .add_track {
    display: inline-block;
    margin-right: 10px;
}
.artist_tab .albums .album .details .tracks .track .fav_track {
    display: inline-block;
    margin-right: 10px;
}

.artist_tab .albums .album .details .tracks .track .track_number{
    width:20px;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}

.artist_tab .albums .album .details .tracks .track .track_name{
    display: inline-block;
}

.artist_tab .albums .album .details .tracks .track  .track_duration{
    display: inline-block;
    float:right;
}